body 
{
	font-family: tahoma,arial,helvetica,sans-serif;
	font-size: 9pt;
	background: #A1BFD9;#FAFCFE;
	margin: 10px 12px 20px 5px;
}

#main
{
	width: 960px;
	margin: 0 auto;
	
    background: none repeat scroll 0 0 #d3dce3;
    border-color: #929492 #696969 #696969;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 2px;
}

a:link,a:active,a:visited { color: #006699; text-decoration:none;}
a:hover { text-decoration:none; color: #EE4000; } 

table td, table th
{
	padding: 4px 4px;
	vertical-align: top;
}

table th
{
	font-weight: bold;
}

table.main
{
	width: 100%;
    border-collapse: separate;	
    border-spacing: 4px;
}

table.main td
{
	background: none repeat scroll 0 0 #ecedf3;
}

div.categories
{
	width: 400px;
	margin: 0 auto 20px;
	text-align: center;
}

div.categories > a
{
	padding: 4px 16px;
}